*{
    margin: 0;
    padding: 0;
}

body{
    background-color:white;
}

#container{
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    
    margin: auto;
    background-color: black;
    
}

#menu_superior p{
    width: 1200px;
    background-color: white;
    text-align: center;
}

#menu_superior a{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 1.3em;
}

#menu_superior a:hover{
    background-color: black;
    color: white;
}

#menu_lateral{
    background-color: white;
    color: black;
    float: right;
    width: 330px;
    margin-right: 5px;
    margin-top: 20px;
}

#menu_lateral h3{
    text-align: center;
    
}

#menu_lateral p{
    color: black;
    font-size: 0.8em;
    padding: 5px;
}

#menu_lateral p:hover{
    background-color:darkgray
}

#menu_lateral img{
    float: right;
    margin: 5px;
    border-radius: 5px;
}

.link_destaques{
    text-decoration: none;
}

#img_principal img{
    margin: 20px 10px 5px 20px;
}

.noticias{
    background-color: white;
    margin-top: -100px;
    margin-right: 355px;
    margin-left: 15px;
    height: 1000px;
    float: left;
   
}

.noticias img{
    float: left;
    margin: 5px;
}

.noticias p{
    color: black;
    
    margin-left: 0px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 40px;
    float: right;
}

.noticias a{
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 25px;
}

.noticias p:hover{
    color: blue;
}

footer{
    clear: both;
    color: white;
    background-color: gray;
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
}

footer a{
    color: black;
    padding: 10px;
}
